# NOIP-DUC Dynamic Update Client - Config - Managed by Ansible
NOIP_USERNAME={{ noip_username }}
NOIP_PASSWORD={{ noip_password }}
NOIP_HOSTNAMES={% for item in noip_domain_names %}{{ item }}{% if not loop.last %},{% endif %}{% endfor %}

NOIP_EXEC_ON_CHANGE=
NOIP_CHECK_INTERVAL={{ noip_check_interval }}
NOIP_LOG_LEVEL=info